.flashy {
  color: red;
  font-style: italic;
  margin-top: 16px;
  margin-bottom: 16px;
}

.best {
  font-size: 36px;
  font-weight: bold;
  font-family: sans-serif;
  color: aqua;
  margin-top: 16px;
  margin-bottom: 16px;
}

.bestpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 16px solid;
  border-color: black;
}
